body{
  margin: 0;
}

.navbar{
  padding: 20px;
  background: linear-gradient(120deg, #68A7AD, #EFD345);
}
.marca{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.content{
  margin: 0;
  background: #68A7AD;
  text-align: center;
}
.imagem-titulo{
  float: right;
  height: 400px;
  padding-left: 60px;
}
.text-box h1{
  font-family: 'Mukta', sans-serif;
  color: #FFF;
  font-weight: bold;
}
.text-box span{
  font-weight: bolder;
  color: #EFD345;
}
